.text{
     padding: 15px;
     color: chartreuse;
}
/* extra small device(phone screensize < 600px) */
@media only screen and (max-width:600px){
    .text{
        background-color: blueviolet;
    }
}
/* small devices portrait tablet and large screen phone >600px */
@media only screen and (min-width:600px){
    .text{
        background-color: blue;
    }
}
/* medium devices landscape tablets >768px */
@media only screen and (min-width:768px){
    .text{
        background-color: burlywood;
    }
}
/* large devices laptop/desktop >992px */
@media only screen and (min-width:992px){
    .text{
        background-color: crimson;
    }
}
/* extra large screens large laptops and desktops >1200px */
@media only screen and (min-width:1200px){
    .text{
        background-color: darkgoldenrod;
    }
}