.text{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: width 2s;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.text:hover{
    width: 400px;
}
.parg{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: height 2s;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.parg:hover{
    height: 400px;
}
.word{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: height 2s, width 4s;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 50px; 
}
.word:hover{
    height: 400px;
    width: 400px;
}